{% extends 'base.html' %}

{% block content %}

<h1 class="mx-3">{{user.username}} Details</h1>

<div class="container">

  <form id="logout" method="POST" action="/logout">
     {{ form.hidden_tag() }}


      <ul>
        <li> {{user.first_name}}</li>
        <li> {{user.last_name}}</li>
        <li> {{user.username}}</li>
        <li> {{user.email}}</li>
      </ul>
    <button type="submit">Logout</button>
  </form>

  {% for note in notes %}
    <h4><a href="/notes/{{note.id}}/update">{{note.title}}</a></h4>
    <p>{{note.content}}</p>
    {% endfor %}

    <h4><a href="/users/{{user.username}}/notes/add">Add a Note</a></h4>

    <form id="logout" method="POST" action="/users/{{user.username}}/delete">
      {{ form.hidden_tag() }}
     <button type="submit">Delete User</button>
   </form>

{% endblock %}